/* @import url(01-settings/variables.css);
@import url(01-settings/icons.css);*/

@import url(03-generic/reset.css);
/* @import url(03-generic/layout.css);

@import url(04-elements/button.css);

@import url(05-objects/nav.css);
@import url(05-objects/news.css);
@import url(05-objects/tabs.css);
@import url(05-objects/slider.css);
@import url(05-objects/releases.css);
@import url(05-objects/opinions.css);
@import url(05-objects/blog.css);
@import url(05-objects/footer.css); */

/* * {
    box-sizing: border-box;
}
body {
    background-color: #1a1d24;
    font-family: "Roboto Condensed", sans-serif;
}
.layout-box {
    max-inline-size: 1280px;
    margin-inline: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 90px;
}
.header .nav > ul {
    display: flex;
    align-items: center;
}
.header .nav .menu {
    flex: 1;
    color: #ffffff;
    gap: 30px;
}
.header .nav .menu .item {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-block-end: 5px;
}
.header .nav .menu .item:hover {
    cursor: pointer;
    border-bottom: 2px solid #e0011a;
}
.header .tools {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header .separator {
    font-size: 25px;
    color: #737373;
}
.header .social {
    gap: 15px;
}
.header svg {
    fill: #ffffff;
    width: 20px;
    height: 20px;
} */
