:root {
    --color-primary: #AD343E;
    --color-secondary: #2C2F24;
    --color-tertiary: #F9F9F7;
    --color-font: #182226;
    --color-dark-grey: #474747;
    --color-white: #ffffff;
    --color-black: #000000;

    --font-text: "DM Sans", sans-serif;
    --font-title: "Playfair Display", serif;
}    
