.news {
    position: relative;
    display: flex;
    gap: 30px;
    font-family: var(--font-family-primary);
    color: var(--color-white);
    padding-block-end: 200px;
    .image {
        inline-size: 100%;
        max-block-size: 600px;
        object-fit: cover;
    }
    > .title {
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: absolute;
        right: 0;
        bottom: 200px;
        padding: 32px 0 0 32px;
        background-color: var(--color-primary);
        max-inline-size: 400px;
        & h2 {
            font-size: var(--font-size-37);
            font-weight: var(--font-weight-bold);
            text-transform: uppercase;
        }
        & p {
            font-size: var(--font-size-14);
            color: var(--color-grey-3);
        }
    }
    .aside {
        .list {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }
        .item {
            display: flex;
            gap: 20px;
        }
        .item-title {
            font-size: var(--font-size-16);
            font-weight: var(--font-weight-bold);
        }
        .item-date {
            font-size: var(--font-size-11);
            text-transform: uppercase;
            color: var(--color-grey-3);
        }
        > .title {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: var(--font-size-17);
            font-weight: var(--font-weight-bold);
            text-transform: uppercase;
            margin-block-end: 30px;
            &::after {
                content: "";
                display: inline-block;
                background-color: var(--color-secondary);
                block-size: 1px;
                inline-size: 30px;
            }
        }
    }
}
