html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-text);
    background-color: #F9F9F7;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    font-weight: 400;
}
h1 {
    font-style: italic;
}
.bg-white {
    background-color: var(--color-white);
}
.container {
    max-width: 81rem;
    padding-inline: 1rem;
    margin: 0 auto;
}
.padding-block {
    padding-block: 120px;
}