.about-us {
    max-width: 81rem;
    padding-inline: 1rem;
    margin: 0 auto;
    padding-block: 120px;
    
    display: flex;
    align-items: center;
    padding-block: 120px;
    > div {
        width: 50%;
    }
    &-info {
        position: relative;
    }
    &-info-box {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: absolute;
        bottom: -50px;
        right: 0;
        max-width: 411px;
        width: 100%;
        padding: 50px;
        background-color: var(--color-dark-grey);
        border-radius: 12px;
        color: var(--color-white);
    }
}
.about-us-info-box-title {
    margin-block-end: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
}
.about-us-info-box-phone::before{
    content: url("../../images/phone.svg");
}
.about-us-info-box-mail::before {
    content: url("../../images/mail.svg");
}
.about-us-info-box-address::before {
    content: url("../../images/location-marker.svg");
}
.about-us-info-box-phone,
.about-us-info-box-mail,
.about-us-info-box-address {
    display: flex;
    gap: 1.25rem;

    &::before {
        height: 100%;
        aspect-ratio: 1;
    }
}
.about-us-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline-start: 5.625rem;
}
.about-us-title {
    font-size: clamp(3rem, 2.5598rem + 1.0836vw, 3.4375rem);
    font-weight: 500;
    line-height: 125%;
    color: var(--color-font);
}
.about-us-desc-main {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-font);
}
.about-us-link {
    width: fit-content;
    text-decoration: none;
}
@media (width <= 64rem) {
    .about-us-text {
        padding-inline-start: 3.5rem;
    }
}
@media (width <= 48rem) {
    .about-us {
        flex-direction: column;
        padding-block: 3.5rem 6rem;
    }
    .about-us > div {
        width: 100%;
    }
    .about-us-text {
        order: -1;
        padding-inline-start: 0;
        margin-block-end: 3rem;
    }
}