.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(255 255 255 / 0.5), rgb(255 255 255 / 0.5)),
    url("/images/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-banner-content {
    max-width: 42rem;
    padding: 12.5rem 0;
    text-align: center;
}
.hero-banner-title {
    font-size: clamp(3.125rem, -0.0193rem + 7.7399vw, 6.25rem);
    color: #474747;
}
.hero-banner-description {
    font-size: 1.25rem;
    margin: 1.5rem 0 2.5rem;
}
.hero-banner-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}