.opinions {
    padding-block: 6.25rem;
}
.opinions-title {
    color: var(--color-font, #182226);
    text-align: center;
    font-size: clamp(3rem, 2.5598rem + 1.0836vw, 3.4375rem);
    font-weight: 500;
    line-height: 110%;
    margin-block-end: 4rem;
}
.opinions-cards {
    display: flex;
    gap: 1.5rem;
}
.opinions-card {
    background-color: #f8f9f7;
    border-radius: 0.75rem;
    padding: 3rem;
}
.opinions-card-title {
    color: var(--color-primary, #AD343E);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 125%;
    margin-block-end: 1.5rem;
}
.opinions-card-desc {
    font-size: 1.125rem;
    line-height: 155%;
}
.opinions-card-desc::after {
    content: '';
    display: block;
    height: 0.0625rem;
    opacity: 0.7;
    background-color: #DBDFD0;
    margin-block: 2rem;
}
.opinions-card-author {
    display: flex;
    align-items: center;
    gap: 24px;
}
.opinions-card-author-img {
    max-width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
}
.opinions-card-author-name {
    font-weight: 700;
}

@media (width <= 64rem) {
    .opinions-card {
        padding: 1.5rem;
    }
}
@media (width <= 48rem) {
    .opinions {
        padding-block: 3.5rem;
    }
    .opinions-cards {
        flex-wrap: wrap;
    }
}